# Python bytecode:
*.py[co]
*.pyc

# SQLite3 database files:
*.db

# Logs:
*.log

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

####Entorno virtual
env/
env/*

#MIGRACIONES
series/apps/videos/migrations/*
series/apps/videos/migrations/

# MEDIA
series/media/*
series/media/
